
.button {
  @include flex-center;
  height: $input-height;
  padding: 0 $size-sm;
  background-color: $gray-900;
  border-radius: $border-radius-sm;
  transition: 150ms ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: darken($gray-900, 3%);
  }
  
  &:focus {
    background-color: darken($gray-900, 3%);
  }
  
  &--w {
    min-width: $size-9;
    
    &-icon { width: $input-height; }
  }
  
  &--primary {
    @extend .button;
    background-color: $primary;
    color: $white;
  
    &:hover {
      background-color: lighten($primary, 7%);
    }
    
    &:focus {
      background-color: lighten($primary, 7%);
    }
  }
  
  &--transparent {
    @extend .button;
    background-color: transparent;
    color: $text-color;
  
    &:hover {
      background-color: transparent;
    }
    
    &:focus {
      background-color: hsla(0, 0%, 0%, 0.04);
    }
  }

  &--no-style {
    @extend .button;
    background-color: transparent;
    color: $text-color;
    width: auto;
    height: auto;
    padding: 0;
    border-radius: 0;

    &:hover {
      background-color: transparent;
    }
  }

  &__icon {
    color: $gray-500;

    &--left { margin-right: $size-sm; }
    &--right { margin-left: $size-sm; }

    &--triangle-up {
      pointer-events: none;
      width: 0;
      height: 0;
      border-left: $size-sm / 2 solid transparent;
      border-right: $size-sm / 2 solid transparent;
      border-bottom: $size-sm / 1.7 solid $gray-500;
    }

    &--triangle-down {
      pointer-events: none;
      @extend .button__icon--triangle-up;
      border-left: $size-sm / 2 solid transparent;
      border-right: $size-sm / 2 solid transparent;
      border-top: $size-sm / 1.7 solid $gray-500;
      border-bottom: 0;
    }
  }
}