
.employee {
  @include flex;
  width: 100%;
  max-width: $size-13;
  padding-bottom: $size-6;
  margin-bottom: $size-6;
  border-bottom: 1px solid $gray-700;

  &__form {
    @include flex;
    width: 100%;
  }
}