
.input {
  width: 100%;
  height: $input-height;
  padding: 0 $input-padding-x;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  transition: 150ms ease-out;

  &:focus {
    border: 1px solid $primary;
  }
  
  &--gray {
    border: 1px solid transparent;
    background-color: $gray-900;
  }

  &--search {
    @extend .input;
    padding-right: $size-6;
  }

  &::placeholder { color: $text-color-light; }
  
  &__box {
    @include flex;
    width: 100%;
    margin: $size-sm 0;
    position: relative;

    &--no-margin { margin: 0; }
  }

  &__label {
    pointer-events: none;
    color: $text-color-light;
    transition: 150ms ease-in-out;
    transform: translate(0, 50%);
    position: absolute;
    top: 0;
    left: $size-sm;
  }

  &:focus     + &__label,
  &--hasFocus + &__label,
  &--hasValue + &__label {
    padding: 0 $size-xs;
    background-color: $white;
    color: $primary;
    font-size: $size-sm;
    font-weight: 600;
    transform: translate(-$size-sm / 2, -50%);
  }

  &__icon {
    pointer-events: none;
    color: $input-icon-color;
    transform: translate(-$size-sm, 50%);
    position: absolute;
    top: 0;
    right: 0;
  }

  &--number {
    @extend .input;
    -moz-appearance: textfield;
    
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__error {
    width: 100%;
    padding: $size-xs;
    padding-bottom: 0;
    color: $danger;
    font-size: $size-sm;
    font-weight: 600;
  }
}