
// General

$primary:  hsl(207deg, 100%, 25%);
$secondary: hsl(217deg, 61%, 90%);
$tertiary:hsl(214deg, 47%, 97%);

$success: hsl(118deg, 69%, 54%);
$warning: hsl(46deg, 100%, 59%);
$danger:  hsl(7deg, 100%, 56%);

$white: hsl(0deg, 100%, 100%);
$black: hsl(0deg, 0%, 0%);

$gray-100: hsl(0deg, 0%, 5%);
$gray-200: hsl(0deg, 0%, 16.25%);
$gray-300: hsl(0deg, 0%, 27.5%);
$gray-400: hsl(0deg, 0%, 38.75%);
$gray-500: hsl(0deg, 0%, 50%);
$gray-600: hsl(0deg, 0%, 61.25%);
$gray-700: hsl(0deg, 0%, 72.5%);
$gray-800: hsl(0deg, 0%, 84.75%);
$gray-900: hsl(0deg, 0%, 96%);


// Specific

$text-color:       $gray-300;
$text-color-light: $gray-600;

$input-border-color: $gray-800;
$input-icon-color:   $gray-700;